.buttons-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.button-style {
  background-color: white;
  height: 40px;
  width: 150px;
  text-align: center;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-style:hover {
  background-color: rgba(128, 128, 128, 0.219);
}
.plus-icon {
  height: 30px;
  width: 30px;
}
.buttons-flex svg{
  font-size :xx-large;
}
.buttons-flex svg:hover{
  cursor: pointer;
}